@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family: 'gilroy-regular';
  src: url(assets/fonts/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'gilroy-medium';
  src: url(assets/fonts/Gilroy-Medium.ttf) format("truetype");
}

:root {
  --primary-color: #BB895A;
  --secondary-color: #34552F;
  --black-color: #000;
  --lightbg-color: #000000b4;
  --white-color: #fff;
  --bgcard-color: #FFF3E9;
}

/* * {
  border: 10px solid;
} */

.heading-text {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
}

.body-text {
  font-family: "gilroy-regular";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2%;
}

.text-justify {
  text-align: justify;
}

.btn {
  font-family: 'gilroy-medium';
  border-radius: 100px;
  padding: 2px;
}

.btn-w-128 {
  width: 128px;
}

.btn-w-250 {
  width: 250px;
}

.btn-w-350 {
  width: 350px;
}

.btn-primary {
  --bs-btn-color: var(--white-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-bg: var(--primary-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);

}

.btn-secondary {
  --bs-btn-color: var(--white-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-bg: var(--secondary-color);
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--black-color);
  --bs-btn-border-color: var(--black-color);
  --bs-btn-hover-color: var(--primary-color);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-active-color: var(--primary-color);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--primary-color);
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-150 {
  padding-top: 150px;
}

.lh-24 {
  line-height: 24px;
}

.lh-36 {
  line-height: 36px;
}

.lh-38 {
  line-height: 38px;
}

.lh-70 {
  line-height: 70px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-44 {
  font-size: 44px;
}

.fs-46 {
  font-size: 46px;
}

.fs-48 {
  font-size: 48px;
}

.fs-50 {
  font-size: 50px;
}

@media screen and (max-width: 425px) {
  .heading-text {
    font-size: 20px;
    line-height: 25px;
  }

  .body-text {
    font-size: 14px;
    line-height: 24px;
  }

  .btn-w-350 {
    width: 250px;
  }

  .fs-24 {
    font-size: 18px;
  }
}
